
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
    color: #333;
    font: 400;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 0;


}
 

nav h1,
footer h1 {
    font-family: 'Coiny', cursive;

}

nav h1 {
    margin-right: auto;
}

nav a,
footer a {
    margin-left: 20px;
    color: #7A7A7A;
    text-decoration: none;
    
}


nav a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-top: 2px solid rgb(252, 238, 33);
}




ul {
    list-style:none;
    margin: 0;
    padding: 0;

}

nav a {
    text-transform: capitalize;
}

header h1 {
    font-weight: 700;
    font-size: 41px;
}

.grande {
    font-size: 100px;
    font-family: 'Coiny', cursive;
}

h1,h2,h3,h4, .item { color: black;}
h2,
h3 {
    font-size: 20px;
    background-color: #FCEE21;
    display: inline;
}

h3 {
    font-size: 26px;
}

h2 {
    font-weight: none;
}

.item {
    font-size: 24px;
    font-weight: bold;
    background-color: #FCEE21;

}

aside img {
    height: auto;
    width: 50%;
}



#titulo {
    font-size: 40px;
}


header.encolumnar,
aside.encolumnar {
    border-bottom: none;
}


header img {
    width: 70%;
    margin-left: 30%;
}

footer,
main,
header,
aside {
    width: 100%;
}

footer {
    height: 100px;
    padding: 10px;
    background-color: #FCEE21;
    display: flex;
    align-items: center;
}

#imagen {
    width: 80%;
    display: block;
    margin: auto;
}


span {
    color: red;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    height: 40px;
}

input,
textarea {
    width: 100%;
}

form {
    margin: auto;
}

.encolumnar {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 0.5px solid gray;
}

.boton {
    padding: 0;
    border-bottom: none;
}

.boton input {

    border: none;
    width: auto;
    background-color: black;
    color: white;
    font-weight: bold;
}

ol li {
    margin-bottom: 6%;
}


h4 {
    margin: 0;
    font-size: 51px;
    color: white;
    background-color: black;
    line-height: 100px;
    padding: 10px;
    display: inline;
}

footer h1 {
    font-size: 33px;
}

section {
    width: 45%;
}

main {
    font-size: 21px;
}